name: Build FFmpeg

on:
  workflow_dispatch:
    inputs:
      publish_release:
        description: 'Publish new release'
        required: false
        type: boolean
        default: false
      only_build:
        description: 'Only build ffmpeg'
        required: false
        type: boolean
        default: true

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        target: [win32]
        variant: [gpl]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          config-inline: |
            [worker.oci]
              max-parallelism = 2

      - name: Build base image
        run: |
           docker buildx build \
            --platform=linux/amd64 \
            --progress=plain \
            --tag base-image \
            --output type=docker,dest=./base-image.tar \
            ./images/base

      - name: Build FFmpeg
        run: |
            docker buildx build \
              --platform=linux/amd64 \
              --progress=plain \
              --output=type=local,dest=./output \
              --build-arg TARGET=${{ matrix.target }} \
              --build-arg VARIANT=${{ matrix.variant }} \
              --load \
              --import src=./base-image.tar,dest=base-image \
              ./targets/${{ matrix.target }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ffmpeg-${{ matrix.target }}-${{ matrix.variant }}
          path: ./output/*.zip
